<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- OGP -->
    {% block fb_ogp %} {% include 'includes/fb_ogp.html' %} {% endblock %}

    <!-- pygments-css -->
    <link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet" />
    <!-- user-css -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

</head>

<body id="index" class="home">

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse"><!-- #menu -->
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">

            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-folder-open"></span>MainMenu <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- {% for cat, null in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %} -->
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}

                        {% if DISPLAY_PAGES_ON_MENU %}
                            {% for p in pages %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-folder-open"></span>Category <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for cat, null in categories %}
                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                <li><a href="/archives.html"><span class="fa fa-th-list"></span>Archives</a></li>
            </ul>
        </div>
        </div>
    </nav><!-- /#menu -->

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-push-3" >
            <!-- main content -->
                {% if GOOGLE_CUSTOM_SEARCH_ID %}
                {% include 'includes/google_cse.html' %}
                {% endif %}
            {% block content %}
            {% endblock %}
            </div>
            <div class="col-sm-3 col-sm-pull-9" >
            {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

    {% include "includes/analytics.html" %}
</body>
</html>
